<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI2VvHJoTfN-qTVnZXSnwUtXW3tmcpMdk</string>
	<key>GCM_SENDER_ID</key>
	<string>810469287590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationTubes2</string>
	<key>PROJECT_ID</key>
	<string>smartcomp-eaab4</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcomp-eaab4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810469287590:ios:19b33a5ce096345c12f667</string>
</dict>
</plist>